body {
    background: #e5e5e5;
    font-family: 'inter';
}

.container {
    display: flex;
    margin: 30px 0;
    justify-content: center;
}

.titulo-principal {
    font-size: 40px;
    text-align: center;
    padding: 30px;
    stroke: #000000;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 208px;
}

.botones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 208px;
}

.botonPrincipal {
    padding: 24px;
    gap: 8px;
    min-width: 300px;
    background: #0A3871;
    border-radius: 24px;
    color: white;
    border: none;
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

.botonSecundario {
    padding: 24px;
    min-width: 300px;
    background: #e5e5e5;
    border-radius: 24px;
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0a3871;
    margin-left: 10px;
    border: 1px solid #0A3871;
    cursor: pointer;
    margin: 10px;
}

.input-text {
    min-width: 500px;
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
}

.error {
    text-align: center;
    color: #b71c1c;
    background-color: #ffcdd2;
    padding: 10px 100px;
    border: 2px solid #b71c1c;
    border-radius: 20px;
    display: none;
}

.exito {
    text-align: center;
    color: #2e7d32;
    background-color: #c8e6c9;
    padding: 10px 100px;
    border: 2px solid #2e7d32;
    border-radius: 20px;
    display: none;
}